<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
               A lot of interest in combining occupational therapy and artificial intelligence technology.
            </p>
            <p class="paragraph-text justify-text">
               Conducting clinical experience and research with an interest in all areas of pediatric occupational therapy, psychosocial occupational therapy, and elderly occupational therapy.
            </p>
            <p class="paragraph-text justify-text">
                Continuing research on early diagnosis of developmental delay and automation of clinical evaluation scoring using artificial intelligence.
            </p>
        </div>
    </section>
</div>
